<div
  id="focused-layout"
  class="grid h-screen grid-cols-1 grid-rows-[auto_1fr_auto] [grid-template-areas:'header'_'content'_'footer']"
>
  <section class="[grid-area:header]">
    <app-focused-layout-header />
  </section>

  <!-- Main content area -->
  <section class="overflow-y-auto [grid-area:content]">
    <app-focused-layout-content>
      <router-outlet />
    </app-focused-layout-content>
  </section>

  <section class="[grid-area:footer]">
    <app-focused-layout-footer />
  </section>
</div>
