<div id="facility-create" class="grid h-full grid-rows-[auto_1fr]">
  <section
    class="flex flex-col gap-2 border-b border-surface-200 bg-surface-50 p-8 dark:border-surface-800 dark:bg-surface-900"
  >
    <div class="flex flex-col justify-between">
      <h1 class="text-2xl font-semibold text-surface-900 dark:text-surface-100">New Facility</h1>
      <p class="text-sm text-surface-700 dark:text-surface-300">
        Create a new facility for this organization.
      </p>
    </div>
  </section>

  <section class="max-w-2xl p-8">
    <app-facility-form
      [loading]="store.isCreating()"
      [parentFacilities]="store.facilities()"
      (submitted)="handleSubmit($event)"
      (cancelled)="handleCancel()"
    />
  </section>
</div>
