<svg
  class="block h-full w-full"
  viewBox="8 22 49 30"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
>
  <defs>
    <linearGradient
      [id]="gradientId"
      x1="14"
      y1="46"
      x2="50"
      y2="18"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#F59E0B" />
      <stop offset="1" stop-color="#EA580C" />
    </linearGradient>
  </defs>
  <path
    d="M14 44 L26 30"
    [attr.stroke]="'url(#' + gradientId + ')'"
    stroke-width="7"
    stroke-linecap="round"
    opacity="0.45"
  />
  <path
    d="M26 46 L40 28"
    [attr.stroke]="'url(#' + gradientId + ')'"
    stroke-width="7"
    stroke-linecap="round"
    opacity="0.72"
  />
  <path
    d="M39 44 L51 30"
    [attr.stroke]="'url(#' + gradientId + ')'"
    stroke-width="7"
    stroke-linecap="round"
  />
</svg>
