<p-card class="h-full" [pt]="cardPt">
  <!-- Header -->
  <ng-template pTemplate="header">
    <div class="flex items-center justify-between">
      <section class="flex flex-col">
        <h2 class="text-lg font-semibold text-surface-900 dark:text-surface-100">{{ title() }}</h2>
        @if (description(); as description) {
          <p class="text-sm text-surface-500 dark:text-surface-300">{{ description }}</p>
        }
      </section>

      @if (action(); as action) {
        <ng-container *ngTemplateOutlet="action" />
      }
    </div>
  </ng-template>

  <!-- Content -->
  @if (content(); as content) {
    <ng-template pTemplate="content">
      <ng-container *ngTemplateOutlet="content" />
    </ng-template>
  }

  <!-- Footer -->
  @if (footer(); as footer) {
    <ng-template pTemplate="footer">
      <ng-container *ngTemplateOutlet="footer" />
    </ng-template>
  }
</p-card>
