<p-drawer
  i18n-header="@@intervention.workItemDrawer.header"
  header="Add work item"
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  [appendTo]="'body'"
  [modal]="true"
  [blockScroll]="true"
  [dismissible]="!loading()"
  [closeOnEscape]="!loading()"
  position="right"
  [pt]="drawerPt"
>
  <ng-template #content>
    <div class="flex flex-col gap-6 pr-1">
      <p
        i18n="@@intervention.workItemDrawer.intro"
        class="text-sm text-surface-600 dark:text-surface-300"
      >
        Tasks added to the prepared scope become assignable work during field execution.
      </p>

      <app-intervention-work-item-form
        [targetOptions]="targetOptions()"
        [memberOptions]="memberOptions()"
        [loading]="loading()"
        [disabled]="disabled()"
        (submitted)="submitted.emit($event)"
      />
    </div>
  </ng-template>
</p-drawer>
