<p-card>
  <p-table [value]="loading() ? skeletonItems : [...members()]" dataKey="id" [stripedRows]="true">
    <ng-template pTemplate="header"
      ><tr>
        <th i18n="@@org.memberTable.user">User</th>
        <th i18n="@@org.memberTable.roles">Roles</th>
        <th i18n="@@org.memberTable.joined">Joined</th>
        <th class="w-20"><span i18n="@@org.memberTable.actions" class="sr-only">Actions</span></th>
      </tr></ng-template
    >
    <ng-template pTemplate="body" let-member>
      @if (loading()) {
        <tr>
          <td><p-skeleton width="12rem" /></td>
          <td><p-skeleton width="10rem" /></td>
          <td><p-skeleton width="8rem" /></td>
          <td><p-skeleton shape="circle" size="2rem" /></td>
        </tr>
      } @else {
        <tr>
          <td class="font-medium">{{ member.userId }}</td>
          <td>
            <div class="flex flex-wrap gap-2">
              @for (roleId of member.roleIds; track roleId) {
                <p-chip
                  [label]="roleName(roleId)"
                  [removable]="canManageRoles()"
                  (onRemove)="removeRole.emit({ member, roleId })"
                />
              } @empty {
                <span i18n="@@org.memberTable.noRoles" class="text-sm text-surface-500"
                  >No roles</span
                >
              }
            </div>
          </td>
          <td>{{ member.joinedAt | date: 'mediumDate' }}</td>
          <td class="text-right">
            @if (canRemoveMember()) {
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [text]="true"
                [rounded]="true"
                i18n-ariaLabel="@@org.memberTable.removeAria"
                ariaLabel="Remove member"
                (onClick)="remove.emit(member)"
              />
            }
          </td>
        </tr>
      }
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="bg-transparent! [&>td]:border-b-0!">
        <td colspan="4">
          <app-empty-state
            icon="pi-users"
            i18n-title="@@org.memberTable.emptyTitle"
            title="No members yet"
            i18n-description="@@org.memberTable.emptyDesc"
            description="People who join this organization will appear here."
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
