<div
  id="split-layout"
  class="flex min-h-dvh flex-row bg-surface-0 transition-colors dark:bg-surface-950"
>
  <section class="hidden flex-1 place-content-stretch xl:grid">
    <!-- Showcase slot -->
    <app-split-layout-showcase-outlet />
  </section>

  <section
    class="mx-auto grid min-h-dvh flex-1 grid-cols-[1fr] grid-rows-[auto_1fr_auto] gap-10 [grid-template-areas:'header'_'content'_'footer']"
  >
    <!-- Layout Header -->
    <app-split-layout-header class="[grid-area:header]" />

    <!-- Layout Content -->
    <app-split-layout-content class="[grid-area:content]">
      <router-outlet />
    </app-split-layout-content>

    <!-- Layout Footer -->
    <app-split-layout-footer class="[grid-area:footer]" />
  </section>
</div>
