<div class="flex flex-wrap items-center gap-2">
  <p-select
    [ngModel]="store.selectedNonConformityStatus()"
    (ngModelChange)="store.setNonConformityStatus($event)"
    [options]="nonConformityStatusOptions"
    optionLabel="label"
    optionValue="value"
    placeholder="Status"
    [showClear]="true"
    [loading]="store.isQueryLoading()"
    size="small"
  >
    <ng-template #item let-option>
      <span class="flex items-center gap-2">
        <i [class]="option.icon" [style.color]="option.color"></i>
        {{ option.label }}
      </span>
    </ng-template>
    <ng-template #selectedItem>
      @let option = selectedNonConformityStatusOption();
      @if (option) {
        <span class="flex items-center gap-2">
          <i [class]="option.icon" [style.color]="option.color"></i>
          {{ option.label }}
        </span>
      }
    </ng-template>
  </p-select>

  <p-select
    [ngModel]="store.selectedNonConformitySeverity()"
    (ngModelChange)="store.setNonConformitySeverity($event)"
    [options]="nonConformitySeverityOptions"
    optionLabel="label"
    optionValue="value"
    placeholder="Severity"
    [showClear]="true"
    [loading]="store.isQueryLoading()"
    size="small"
  >
    <ng-template #item let-option>
      <span class="flex items-center gap-2">
        <span
          class="inline-block h-2 w-2 shrink-0 rounded-full"
          [style.background-color]="option.color"
        ></span>
        {{ option.label }}
      </span>
    </ng-template>
    <ng-template #selectedItem>
      @let option = selectedSeverityOption();
      @if (option) {
        <span class="flex items-center gap-2">
          <span
            class="inline-block h-2 w-2 shrink-0 rounded-full"
            [style.background-color]="option.color"
          ></span>
          {{ option.label }}
        </span>
      }
    </ng-template>
  </p-select>

  @defer (on idle) {
    <p-datepicker
      selectionMode="range"
      [ngModel]="store.selectedDateRange()"
      [ngModelOptions]="{ updateOn: 'blur' }"
      (ngModelChange)="store.setDateRange($event)"
      [maxDate]="today"
      placeholder="Select date range"
      [showClear]="true"
      [showTime]="true"
      hourFormat="24"
      size="small"
      appendTo="body"
      dateFormat="dd/mm/yy"
      [disabled]="store.isQueryLoading()"
    />
  }

  <p-togglebutton
    [ngModel]="store.compareEnabled()"
    (ngModelChange)="store.setCompareEnabled($event)"
    onLabel="Compare ON"
    offLabel="Compare OFF"
    size="small"
    [disabled]="store.isQueryLoading()"
  />
</div>
