<p-menu #actionMenu [model]="menuItems()" [popup]="true" appendTo="body" />

<app-card title="Inspections" description="Total inspections over time">
  <ng-template #action>
    <div class="flex items-center gap-2">
      <p-select
        [ngModel]="selectedGranularity()"
        (ngModelChange)="onGranularityChange($event)"
        [options]="granularityOptions"
        optionLabel="label"
        optionValue="value"
        size="small"
      />

      <p-button
        icon="pi pi-ellipsis-v"
        severity="secondary"
        size="small"
        outlined
        (onClick)="onMenuToggle($event)"
      />
    </div>
  </ng-template>

  <ng-template #content>
    @if (trendResource.isLoading()) {
      <p-skeleton
        height="200px"
        class="w-full"
      />
    } @else {
      <p-chart
        type="bar"
        [data]="chartData()"
        [options]="chartOptions()"
        height="200px"
        fluid
      />
    }
  </ng-template>

  <ng-template #footer>
    <div class="flex flex-wrap items-center gap-2">
      <p-select
        [ngModel]="selectedInspectionStatus()"
        (ngModelChange)="selectedInspectionStatus.set($event)"
        [options]="inspectionStatusOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Status"
        [showClear]="true"
        size="small"
      >
        <ng-template #item let-option>
          <span class="flex items-center gap-2">
            <i [class]="option.icon" [style.color]="option.color"></i>
            {{ option.label }}
          </span>
        </ng-template>
        <ng-template #selectedItem>
          @let option = selectedInspectionStatusOption();
          @if (option) {
            <span class="flex items-center gap-2">
              <i [class]="option.icon" [style.color]="option.color"></i>
              {{ option.label }}
            </span>
          }
        </ng-template>
      </p-select>
      <p-select
        [ngModel]="selectedInspectionResult()"
        (ngModelChange)="selectedInspectionResult.set($event)"
        [options]="inspectionResultOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Result"
        [showClear]="true"
        size="small"
      >
        <ng-template #item let-option>
          <span class="flex items-center gap-2">
            <i [class]="option.icon" [style.color]="option.color"></i>
            {{ option.label }}
          </span>
        </ng-template>
        <ng-template #selectedItem>
          @let option = selectedInspectionResultOption();
          @if (option) {
            <span class="flex items-center gap-2">
              <i [class]="option.icon" [style.color]="option.color"></i>
              {{ option.label }}
            </span>
          }
        </ng-template>
      </p-select>
      <p-select
        [ngModel]="selectedInspectorType()"
        (ngModelChange)="selectedInspectorType.set($event)"
        [options]="inspectorTypeOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Inspector"
        [showClear]="true"
        size="small"
      />
      @defer (on idle) {
        <p-datepicker
          selectionMode="range"
          [ngModel]="selectedDateRange()"
          (ngModelChange)="selectedDateRange.set($event)"
          placeholder="Select date range"
          [showClear]="true"
          [showTime]="true"
          hourFormat="24"
          size="small"
          appendTo="body"
          dateFormat="dd/mm/yy"
        />
      }
      <p-togglebutton
        [ngModel]="compareEnabled()"
        (ngModelChange)="compareEnabled.set($event)"
        onLabel="Compare ON"
        offLabel="Compare OFF"
        size="small"
      />
    </div>
  </ng-template>
</app-card>
