<div id="account" class="flex h-full flex-col gap-6">
  <hlm-tabs [tab]="activeSection()" class="contents" (tabActivated)="onSectionActivated($event)">
    <ng-template #pageTabs>
      <hlm-paginated-tabs-list
        variant="line"
        class="w-full"
        tabListClass="justify-start gap-0 py-0 mobile-ui:min-h-11"
        paginationButtonClass="mobile-ui:size-11 mobile-ui:shrink-0"
        data-testid="account-tabs-list"
        aria-label="Account settings sections"
        i18n-aria-label="@@account.page.navigationAria"
      >
        <button
          hlmTabsTrigger="profile"
          class="mobile-ui:min-h-11 mobile-ui:px-3"
          data-testid="account-tab-profile"
        >
          <ng-icon name="lucideUserRound" class="mobile-ui:hidden" aria-hidden="true" />
          <span i18n="@@account.page.profileNav">Profile</span>
        </button>
        <button
          hlmTabsTrigger="security"
          class="mobile-ui:min-h-11 mobile-ui:px-3"
          data-testid="account-tab-security"
        >
          <ng-icon name="lucideShieldCheck" class="mobile-ui:hidden" aria-hidden="true" />
          <span i18n="@@account.page.securityNav">Security</span>
        </button>
        <button
          hlmTabsTrigger="organizations"
          class="mobile-ui:min-h-11 mobile-ui:px-3"
          data-testid="account-tab-organizations"
        >
          <ng-icon name="lucideBuilding2" class="mobile-ui:hidden" aria-hidden="true" />
          <span i18n="@@account.page.organizationsNav">Organizations</span>
        </button>
        <button
          hlmTabsTrigger="notifications"
          class="mobile-ui:min-h-11 mobile-ui:px-3"
          data-testid="account-tab-notifications"
        >
          <ng-icon name="lucideBell" class="mobile-ui:hidden" aria-hidden="true" />
          <span i18n="@@account.page.notificationsNav">Notifications</span>
        </button>
      </hlm-paginated-tabs-list>
    </ng-template>

    <div [hlmTabsContent]="activeSection()" class="w-full min-w-0">
      <router-outlet />
    </div>
  </hlm-tabs>
</div>
