<header class="flex items-center gap-4 px-6 py-2 border-b border-surface-200 dark:border-surface-800 bg-surface-0 dark:bg-surface-950 transition-colors">
  <section class="lg:hidden">
    <p-button
      icon="pi pi-bars"
      severity="secondary"
      [text]="true"
      [rounded]="true"
      ariaLabel="Open navigation menu"
      (onClick)="sidebarService.open()"
    />
  </section>

  <!-- Header Breadcrumb -->
  <section class="flex flex-1 min-w-0 overflow-hidden">
    <app-dashboard-layout-breadcrumb class="flex-1 min-w-0"/>
  </section>

  <section class="flex items-center gap-2 ml-auto">
    <app-organization-switcher/>
    <app-theme-switcher/>
    <app-notification-bell/>
  </section>
</header>
