<div id="dashboard-layout" class="flex flex-row min-h-dvh bg-surface-0">
  <section class="flex w-full">
    <p-splitter [panelSizes]="[20, 80]" [minSizes]="[15, 60]" [gutterSize]="1" class="w-full">
      <ng-template #panel>
        <app-dashboard-layout-sidebar/>
      </ng-template>

      <ng-template #panel>
        <div class="flex flex-col">
          <app-dashboard-layout-header/>
          <app-dashboard-layout-content>
            <router-outlet />
          </app-dashboard-layout-content>
        </div>
      </ng-template>
    </p-splitter>
  </section>
</div>
