<div id="intervention-list" class="flex h-full flex-col gap-6">
  <app-intervention-table
    class="flex min-h-0 flex-1 flex-col"
    [interventions]="store.interventionList()"
    [total]="store.totalInterventions()"
    [loading]="store.isLoadingInterventions()"
    [empty]="store.isEmpty()"
    [initialPage]="page()"
    (load)="onLoad($event)"
    (pageChange)="onPageChange($event)"
    (createRequested)="openCreateDialog()"
    (view)="onView($event)"
  />
</div>

<app-intervention-create-dialog
  [visible]="createDialogVisible()"
  (visibleChange)="createDialogVisible.set($event)"
  [loading]="creating()"
  [optionsLoading]="planningOptions.loading()"
  [siteOptions]="planningOptions.sites()"
  [memberOptions]="planningOptions.members()"
  (submitted)="create($event)"
/>
