<div
  class="flex items-center justify-between border-t border-surface-200 px-3 py-2 dark:border-surface-800"
>
  @if (hasUnread()) {
    <p-button
      label="Mark all as read"
      i18n-label="@@account.bell.markAll"
      [text]="true"
      severity="secondary"
      icon="pi pi-check-circle"
      (onClick)="markAllAsRead.emit()"
    />
  } @else {
    <span></span>
  }

  <p-button
    label="See all"
    i18n-label="@@account.bell.seeAll"
    severity="secondary"
    [text]="true"
    icon="pi pi-arrow-right"
    iconPos="right"
    [routerLink]="['/account']"
    [queryParams]="{ tab: 'notifications' }"
  />
</div>
