<p-drawer
  i18n-header="@@org.members.assignDrawer"
  header="Assign role"
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  [appendTo]="'body'"
  [modal]="true"
  [blockScroll]="true"
  [dismissible]="!loading()"
  [closeOnEscape]="!loading()"
  position="right"
  [pt]="drawerPt"
>
  <ng-template #content>
    <div class="flex h-full flex-col gap-6">
      <p
        i18n="@@org.members.assignDrawerIntro"
        class="text-sm text-surface-600 dark:text-surface-300"
      >
        Give a member an additional role in this organization.
      </p>

      <div class="min-h-0 flex-1">
        <app-organization-role-assignment-form
          [members]="members()"
          [roles]="roles()"
          [loading]="loading()"
          (submitted)="submitted.emit($event)"
          (cancelled)="visibleChange.emit(false)"
        />
      </div>
    </div>
  </ng-template>
</p-drawer>
