@if (!hasOpenChannel()) {
  <div class="m-auto max-w-md p-6">
    <div hlmEmpty>
      <div hlmEmptyHeader>
        <div hlmEmptyMedia variant="icon">
          <ng-icon name="lucideHash" aria-hidden="true" />
        </div>
        <p hlmEmptyTitle i18n="@@channels.page.noneOpenTitle">No channel open</p>
        <p hlmEmptyDescription i18n="@@channels.page.noneOpenDescription">
          Pick a channel in the list, or create one.
        </p>
      </div>
    </div>
  </div>
}
<router-outlet (activate)="hasOpenChannel.set(true)" (deactivate)="hasOpenChannel.set(false)" />
