<p-drawer
  i18n-header="@@intervention.rcDrawer.header"
  header="Request changes"
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  [appendTo]="'body'"
  [modal]="true"
  [blockScroll]="true"
  [dismissible]="canDismiss()"
  [closeOnEscape]="false"
  position="right"
  [pt]="drawerPt"
>
  <ng-template #content>
    <app-intervention-request-changes-form
      [loading]="loading()"
      [disabled]="disabled()"
      (submitted)="submitted.emit($event)"
    />
  </ng-template>
</p-drawer>
