<div id="password-reset-verify-page" class="flex w-full flex-col gap-6">
  <app-page-heading
    heading="Enter your reset code"
    i18n-heading="@@auth.passwordResetVerify.title"
    description="Check your inbox for the code we just sent."
    i18n-description="@@auth.passwordResetVerify.subtitle"
  />

  <app-otp-form
    [showResend]="true"
    [resending]="passwordResetStore.isResending()"
    [serverError]="passwordResetStore.resendError()"
    [resendAvailableIn]="passwordResetStore.resendAvailableIn()"
    (submitted)="verify($event)"
    (resent)="resend()"
  />
</div>
